<div class="container">

	<div class="jumbotron">
		<div class ="row">
	      <div class="col-md-12" style="text-align:center">
	        <h1 class="center-block">ReelTalk</h1>
		  </div>
	    </div>

	    <div class="row">
	      <div class="col-md-12" style="text-align:left">
	      	<p class="lead">
	      		ReelTalk is an app that brings you information about all your favorite movies! What makes ReelTalk unique is its ability to crowd-source content. Currently ReelTalk pulls information from OMDB and TrailerAddict. In the near future we will be adding content via Twitter, Instagram, and Rotten Tomatoes as well as content created by you the users.
	      	</p>
	      </div>
	    </div>
	</div> 
	<!-- end of jumbotron -->
</div>
<!-- end of container -->